<div *ngIf="!name; else forminfo">
  <form [formGroup]="rForm" (ngSubmit)="addPost(rForm.value)">
    <div class="form-container">
      <div class="row columns">
        <h2>Upload Image</h2>
        <label>
          Serial Number
          <input type="text" formControlName="serialNum" value="{{serialNum}}">
        </label>
        <label>
          Upload a PNG or JPG file of the serial number
          <input type="file" formControlName="file" (change)="fileEvent($event)">
        </label>
        <div class="alert" *ngIf="fileSubmitted && !fileValid">Please upload a PNG or JPG file</div>
      </div>
    </div>
  </form>
</div>