<div>
  <form [formGroup]="rForm">
    <div class="form-container">
      <div class="row columns">
        <h2>Upload Image</h2>
        <label>
          Serial Number
          <input #box type="text" formControlName="serialNumText" value="{{ serialNumField }}" (keyup)="updateInput(box.value)">
        </label>
        <label>
          Upload a PNG or JPG file of the serial number
          <input type="file" formControlName="file" (change)="fileEvent($event)">
        </label>
        <div class="alert" *ngIf="fileSubmitted && !fileValid">Please upload a PNG or JPG file</div>
        <div class="alert" *ngIf="fileSubmitted && fileValid && !responseReceived">Uploading...</div>
        <div class="alert" *ngIf="responseReceived && responseSucceeded">Upload successful</div>
        <div class="alert" *ngIf="responseReceived && !responseSucceeded">Upload failed</div>
      </div>
    </div>
  </form>
</div>